.profile-button {
  position: relative;
}

.profile-button button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: var(--white);
  padding: 5px;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--white);
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 10px 0;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  width: 200px;
  z-index: 1000;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

.profile-dropdown.show {
  opacity: 1; /* Show opacity */
  visibility: visible; /* Make visible */
}

.profile-dropdown li {
  padding: 8px 20px;
  list-style-type: none;
}

.profile-dropdown a,
.profile-dropdown button {
  background: none;
  border: none;
  color: var(--indigo);
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  color: var(--vibrant-green);
  background-color: rgba(255, 255, 255, 0.1); /* Optional: Light background on hover */
  border-radius: 4px; /* Slight rounding on hover */
}

.profile-image {
  border-radius: 50%;
  width: 32px; /* Adjust as needed */
  height: 32px; /* Adjust as needed */
}

.profile-name {
  font-weight: bold;
  margin-left: 10px;
}

.profile-email {
  margin-left: 10px;
}

.profile-logout {
  margin-left: 10px;
}

.profile-logout:hover {
  color: var(--crayola-red);
} 

